/* thead input {
        width: 100%;
    } */
body {
	font-size: 10px;
}  
table {
	font-size: 10px;
	width: 100%;
}
* {
      font-family: arial;
}
th {
	width: 163px !important;
}
td {
	width: 163px !important;
}
.widthTab {
	width: 163px !important;
	font-size: 10px;
}
.ui-autocomplete-loading {
    background: white url("/img/ui-anim_basic_16x16.gif") right center no-repeat;
  }